  .icon{
	background-color: #8B008B;
	height: 500px;
	width: 100%;
  overflow: hidden;
}

.HeaderStyle{
  color: white;
  font-size: 75px;
  position: absolute;
  top : 35%;
  left : 25%
}


.icon-img{
  align-items: center;
	width: 100%;
  height: auto;
  z-index: -1;
  /* overflow: hidden; */
}

.smallBox{
font-style: italic;
font-size: 2.5em;
text-align: center;
word-spacing: 0.3em;
color: tomato;
height: 50px;
border: 1px solid red ;
width: 32.4%;
background-color:white;
display: inline-block;
}

#m01{
  display: inline;
}
body{
  margin: 0px;
}
